<table class= table table-bordered>
    <tr>
        <th scope='col' class='text-center'>Title</th>
        <th scope='col' class='text-center'>Email Address</th>
        <th scope='col' class='text-center'>Mobile No</th>
        <th scope='col' class='text-center'>Work No</th>
        <th scope='col' class='text-center'>Home No</th>
        <th scope='col' class='text-center'>Street</th>
        <th scope='col' class='text-center'>City</th>
        <th scope='col' class='text-center'>Postcode</th>
    </tr>
    <tr>
        <td class='text-center'> {{ pdfWill.title }} </td>
        <td class='text-center'>  </td>
        <td class='text-center'></td>
        <td class='text-center'>  </td>
        <td class='text-center'></td>
        <td class='text-center'></td>
        <td class='text-center'></td>
        <td class='text-center'></td>
        <td class='text-center'></td>
        <td class='text-center'></td>
    </tr>
</table>